@model IEnumerable<LMS.Models.StudentViewModel>

@{
    ViewData["Title"] = null;
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.BookName)*@
              Student Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@
                Branch
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Quantity)*@
                Mobile
            </th>
            <th>View Detail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branchs.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    <a asp-action="GetBookReportDetail" asp-route-id="@item.StudentId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
