@model LMS.Models.BookViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="save" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label asp-for="BookName" class="control-label"></label>
                    <input asp-for="BookName" class="form-control" />
                    <span asp-validation-for="BookName" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="Detail" class="control-label"></label>
                    <input asp-for="Detail" class="form-control" />
                    <span asp-validation-for="Detail" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="PubId" class="control-label"></label>
                    <select asp-for="PubId" class="form-control" asp-items="@(new SelectList(ViewBag.PubId,"PubId","PublicationName"))"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label asp-for="BranchId" class="control-label"></label>
                    <select asp-for="BranchId" class="form-control" asp-items="@(new SelectList(ViewBag.BranchId,"BranchId","BranchName"))"></select>
                </div>
                <div class="col-lg-6">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="BookPhoto" class="control-label"></label>
                    <input asp-for="BookPhoto" class="form-control"  />
                    <span asp-validation-for="BookPhoto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
